<html>
  <head>
    <title>Add user</title>
  </head>
  <body>
    <form action = "[% c.uri_for(c.controller('AuthUsers').action_for('add')) %]" method="post">
      [%# Simple column set %]
      [% FOREACH col = users_rs.result_source.columns %]
        <div>
          <label>[% col %]
            <input type="text" name="[% col %]"/>
          </label>
        </div>
      [% END %]
      <input type="submit" value="Create"/>
    </form>
  </body>
</html>
